# -*- coding:utf-8 -*-
# -*- coding:utf-8 -*-

from zope.interface import implementer
from korpokkur.interfaces import IScaffoldTemplate
import os.path


# see: korpokkur.interfaces:IScaffoldTemplate
@implementer(IScaffoldTemplate)
class Template(object):
    """${description}"""
    dirpath = os.path.abspath(os.path.dirname(__file__))
    source_directory = os.path.join(dirpath, "+package+")
    ##varname -> description, default
    expected_words = {
    }
    cache = {}
    __dro__ = [
        "korpokkur.scaffolds.pygitignore:Package"
    ]
    template_engine = "mako"  # or jinja2
